.wrapper {
  max-width: 428px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 317px;
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
}

.container-buy-pakago {
  max-width: 428px;
  margin: 0 auto;
}
.container-transport {
  max-width: 357px;
  margin: 0 auto;
}
.container-feedback {
  max-width: 428px;
  margin: 0 auto;
}

.container-with-pakago {
  max-width: 361px;
  margin: 0 auto;
  padding-top: 25px;
}

.container-footer {
  max-width: 380px;
  margin: 0 auto;
}
